<app-rh-navbar></app-rh-navbar>
<div class="container" style="margin-top: 25px">
  <div class="row">
    <legend>Offre Creation</legend>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-6">
        <input matInput placeholder="Title" [(ngModel)]="offre.title" #ctrl="ngModel">
    </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="col-sm-6">
        <textarea matInput placeholder="Description" [(ngModel)]="offre.description" #ctrl="ngModel"></textarea>
      </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-6">
        <mat-select placeholder="Type" [(ngModel)]="offre.type" #ctrl="ngModel">
          <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-6">
        <mat-select placeholder="Domain" [(ngModel)]="offre.domaine" #ctrl="ngModel">
          <mat-option *ngFor="let domain of domaines" [value]="domain"> {{domain}} </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <label class="btn btn-elegant">
            <input type="file" (change)="selectFile($event)">
        </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
        <button class="btn btn-danger" (click)="sendData()">Publish</button>
    </div>
  </div>

</div>