<app-rh-navbar></app-rh-navbar>
<div class="container">
  <div class="col-sm-12" style="margin-top: 35px">
    <div class="col-sm-8 offset-sm-2">
      <legend>Quizz Details</legend>
      <div class="row">
        <legend>Part {{partNumber + 1}} </legend>
      </div>    
      <div class="row"> 
        <mat-form-field class="col-sm-12">
            <input matInput placeholder="Title" [(ngModel)]="currentQuestion.part.title" #ctrl="ngModel">
        </mat-form-field>
      </div> 
      <div class="row">
        <legend>Question {{questionNumber + 1}} </legend>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-9">
            <input matInput placeholder="Question" [(ngModel)]="currentQuestion.content" #ctrl="ngModel">
        </mat-form-field>

        <mat-form-field class="col-sm-3">
          <mat-select placeholder="Answer" [(ngModel)]="currentQuestion.answer" #ctrl="ngModel">
            <mat-option [value]="true"> True </mat-option>
            <mat-option [value]="false"> False </mat-option>
          </mat-select>
        </mat-form-field>
      </div> 
      <div class="row">
        <div class="col-sm-4">
          <button  class="btn btn-pink" (click)="nextQuestion()" disabled="{{nextDisabled}}" >Next</button>
        </div>
        <div class="col-sm-4">
          <button  class="btn btn-purple" (click)="preQuestion()" disabled="{{preDisabled}}" >Previous</button>
        </div>
      </div>
    </div>
  </div>
</div>      