<app-candidate-navbar></app-candidate-navbar>
<div class="container">
  <div class="row" style="margin-top: 35px">
    <div class="col-md-6 offset-md-3">
      <table class=" table btn-table table-active table-responsive-md ">
        <thead> 
          <tr>
            <th>Quizz</th>
            <th>Technology</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quiz of quizz">
            <td>
              {{quiz.title}}
            </td>
            <td>
              {{quiz.technlogie}}
            </td>
            <td>
              <button class="btn btn-unique btn-sm" (click)="open(content, quiz)" >Results</button>
            </td>
          </tr>
        </tbody>
      </table>    
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Results</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class=" table btn-table table-active table-responsive-md ">
            <thead> 
              <tr>
                <th>Part</th>
                <th>Score</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of results">
                <td> {{result[0]}} </td>
                <td> {{result[1]}} </td>
                <td> {{result[2]}} </td>
              </tr>
            </tbody>
          </table>      
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="c('Close click')">Done</button>
        </div>
      </ng-template>
  </div>
</div>