<app-candidate-navbar></app-candidate-navbar>
<div class="container" style="margin-top: 25px">
  <div class="row">
    <div class="col-md-4 offset-md-5">
        <img id="user-image" src="{{imageUrl}}" mat-button width="150" alt="{{candidate.name}}" class="rounded-circle img-fluid">
    </div>
  </div>
    <div class="row" style="margin-top: 35px">
        <div class="col-md-6 offset-md-3">
            <legend>Personnal informations</legend>
            <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item><p><label>Name: </label> {{candidate.name}} </p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p><label>Lastname: </label> {{candidate.lastname}} </p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p><label>Email: </label> {{candidate.email}} </p></mat-list-item> 
                    <mat-divider></mat-divider>
                    <mat-list-item><p><label>Phone: </label> {{candidate.phone}} </p></mat-list-item>   
            </mat-list>
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-6 offset-md-3">
            <legend>Cvs</legend>
            <table class=" table btn-table table-active table-responsive-md ">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>#</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cv of cvs">
                        <td> {{cv.name}} </td>
                        <td>
                            <button class="btn btn-info btn-sm" (click)="openCv(cv)" >Open</button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="deleteCv(cv)" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div>  
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <label class="btn btn-elegant col-sm-5">
                        <input type="file" (change)="selectFile($event)">
                </label>
                <div class="col-sm-3">
                        <button class="btn btn-secondary" (click)="uploadCv()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>
