<app-rh-navbar></app-rh-navbar>
<div class="container">
  <div class="col-sm-12" style="margin-top: 35px">
    <div class="col-sm-8 offset-sm-2">
      <table class=" table btn-table table-active table-responsive-md ">
        <thead> 
          <tr>
            <th>Title</th>
            <th>Technology</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quiz of quizz">
            <td>
              {{quiz.title}}
            </td>
            <td>
              {{quiz.technlogie}}
            </td>
            <td>
              <button class="btn btn-cyan btn-sm" (click)="detailQuiz(quiz)" >Details</button>
            </td>
            <td>
              <button class="btn btn-pink btn-sm" (click)="openCandidatesByQuizz(candidatesQuizz, quiz)" >Results</button>
            </td>
            <td>
              <button class="btn btn-unique btn-sm" (click)="open(content, quiz)" >Send</button>
            </td>
          </tr>
        </tbody> 
      </table>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">List of candidates</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class=" table btn-table table-active table-responsive-md ">
          <thead> 
            <tr>
              <td>#</td>
              <th>Name</th>
              <th>Lasname</th>
              <th>#</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidates">
              <td>
                <img [src]="getImageUrl(candidate)" class="rounded " width="50px" height="50px" />
              </td>
              <td>
                {{candidate.name}}
              </td>
              <td>
                {{candidate.lastname}}
              </td>
              <td>
                <button class="btn btn-cyan btn-sm" (click)="getCv(candidate)" >Open</button>
              </td>
              <td>
                <button id="test" class="btn btn-danger btn-sm" (click)="sendQuizz(candidate, $event)">Send</button>
              </td> 
            </tr>
          </tbody>
        </table>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Done</button>
      </div>
    </ng-template>

    <ng-template #candidatesQuizz let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Candidates</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class=" table btn-table table-active table-responsive-md ">
          <thead> 
            <tr>
              <td>#</td>
              <th>Name</th>
              <th>Lasname</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidates">
              <td>
                <img [src]="getImageUrl(candidate)" class="rounded " width="50px" height="50px" />
              </td>
              <td>
                {{candidate.name}}
              </td>
              <td>
                {{candidate.lastname}}
              </td>
              <td>
                <button class="btn btn-cyan btn-sm" (click)="seeResults(candidate)" >Open</button>
              </td>
            </tr>
          </tbody>
        </table>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Close click')">Done</button>
      </div>
    </ng-template>
   
  </div>
</div>