<app-rh-navbar></app-rh-navbar>
<div class="container">
  <div class="row" style="margin-top: 35px">
    <div class="col-sm-6 offset-md-3" *ngIf="!continue">
      <div class="row">
        <div  class="col-sm-9">
          <legend>Quizz Creation</legend>
        </div>
        <div class="col-sm-1">
          <button class="btn btn-cyan btn-sm" (click)="openQuizzList()" >List</button>
        </div>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-12">
            <input matInput placeholder="Title" [(ngModel)]="quiz.title" #ctrl="ngModel">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-12">
            <input matInput placeholder="Technology" [(ngModel)]="quiz.technology" #ctrl="ngModel">
        </mat-form-field>
      </div>
      <div class="row">
        <button class="btn btn-unique" (click)="createQuiz()" >Create</button>
      </div>
    </div>
    <div class="col-sm-6 offset-md-3" *ngIf="continue">
      <div class="row">
        <legend>Part {{partNumber}} </legend>
      </div>    
      <div class="row"> 
        <mat-form-field class="col-sm-12">
            <input matInput placeholder="Title" [(ngModel)]="part.title" #ctrl="ngModel">
        </mat-form-field>
      </div> 
      <div class="row">
        <legend>Question {{questionNumber}} </legend>
      </div> 
      <div class="row">
        <mat-form-field class="col-sm-9">
            <input matInput placeholder="Question" [(ngModel)]="question.content" #ctrl="ngModel">
        </mat-form-field>

        <mat-form-field class="col-sm-3">
          <mat-select placeholder="Answer" [(ngModel)]="question.answer" #ctrl="ngModel">
            <mat-option [value]="true"> True </mat-option>
            <mat-option [value]="false"> False </mat-option>
          </mat-select>
        </mat-form-field>
      </div> 
      <div class="row">
        <div class="col-sm-4">
          <button  class="btn btn-pink" (click)="addQuestion()" >Validate question</button>
        </div>
        <div class="col-sm-4">
          <button  class="btn btn-purple" (click)="addPart()" >Validate part</button>
        </div>
        <div class="col-sm-4">
          <button  class="btn btn-deep-purple" (click)="validateQuiz()" >Validate Quiz</button>
        </div>
      </div>
    </div>
  </div>
</div>