<app-candidate-navbar></app-candidate-navbar>
<div class="container">
  <div class="row" style="margin-top: 35px">
    <div class="col-md-6 offset-md-3" *ngIf="started && !finished">
        <div class="row">
          <div style="text-align:center;color:#9A2828" class="h6"> Part {{currentQuestion?.part.title}}</div>
          <mat-progress-bar class="my-color" mode="determinate" [value]="questionProgress" ></mat-progress-bar>
          <div style="overflow: hidden;">
              <p  style="float: right;color:#9A2828" class="h6">{{ displayTimeElapsed()}} </p>
          </div>
        </div>
        <div class="row">
          <table class=" table btn-table table-active table-responsive-md ">
            <thead>
              <tr>
                <th style="width:25%;">Question {{next + 1}} / {{questions?.length}} </th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{currentQuestion?.question}} </td>
                <td>
                  <mat-form-field>
                    <mat-select placeholder="Answer" [(ngModel)]="currentAnswer" #ctrl="ngModel">
                      <mat-option [value]="true"> True </mat-option>
                      <mat-option [value]="false"> False </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
            <button class="btn btn-danger" (click)="skipQuestion()" >Skip</button>
            <button class="btn btn-deep-orange" (click)="nextQuestion()" >Next</button>
        </div>
    </div>
    <div class="col-md-6 offset-md-3" *ngIf="!started && !finished">
      <div class="row">
        <legend>Quizz orders</legend>
      </div>
      <div class="row">
        <div class="alert alert-info">
            <ul>
              <li *ngIf="questions">Entreprise: {{questions[0]?.part.quiz.employee.entreprise.name}} </li>
              <li *ngIf="questions" >Technique evaluated is : {{questions[0]?.part.quiz.technlogie}} </li>
              <li>Number of questions is : {{questions?.length}} </li>
              <li>you have 1 min for each question</li>
            </ul>
        </div>
      </div>
      <div class="row">
          <button  class="btn btn-unique" (click)="startQuizz()" >Start</button>
      </div>
    </div>

    <div class="col-md-6 offset-md-3" *ngIf="finished">
      <div class="row">
        <legend>Quizz Ends</legend>
      </div>
      <div class="row">
        <div class="alert alert-info">
          <p>Test finished, based on your score the employee will contact you </p>
          <p>Thank you {{candidate.name}} {{candidate.lastname}} </p>
        </div>
      </div>
    </div>

  </div>
</div>